.button {
    &__default {
        font-size: 1rem;
        background-color: #000000;
        color: gray;
        border: 3px double gray;
        padding: .5rem;
        height: 5.5rem;
        width: 5.5rem;
        border-radius: 50%;
        cursor: pointer;
        transition: .1s;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        animation-timing-function: none;

        &:hover {
            // filter: brightness(110%);
            border: 3px double #d1d1d1;
        }

    }

    &__svg {
        height: 1.6rem;
        filter: invert(44%) sepia(15%) saturate(2286%) hue-rotate(73deg) brightness(98%) contrast(92%);
    }
}