.button {
    &__default {
        font-size: .8vw;
        background-color: #000000;
        color: gray;
        border: 5px solid #4f4f4f;
        padding: .5rem;
        height: 5vw;
        width: 5vw;
        border-radius: 50%;
        cursor: pointer;
        transition: .1s;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        animation-timing-function: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        
        &:hover {
            // filter: brightness(110%);
            border: 5px solid #888888 !important;
        }

    }

    &__svg {
        height: 1.3vw;
        filter: invert(44%) sepia(15%) saturate(2286%) hue-rotate(73deg) brightness(98%) contrast(92%);
    }
}