.waveform {
    &__wrapper {
        width: 90%;
        border: 2px solid rgb(66, 66, 66);
        // border-radius: .5rem;
        // padding: .5rem 0;
        background-color: black;
        margin: 1rem 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 145px;
        overflow: hidden;
    }

    &__container {
        width: 100%;
        filter: invert(1);
    }

    &__loading {
        text-align: center;
        width: 100%;
        margin: 0;
    }

    &__placeholder {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: .3rem .5rem;
        background: #eee;
        background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
        background-size: 200% 100%;
        animation: 1.5s loading-placeholder linear infinite;
        height: 100%;
        background-image: linear-gradient(110deg, #000000 8%, #4f4f4f 18%, #000000 33%);
    }

    &__info {
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow: hidden;
    }

    &__row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: .5rem;
    }

    &__track {

        &-number {
            margin: .3rem;
            padding: 0 .5rem;
            border: 1px solid rgb(119, 179, 199);
            border-top-width: 5px;
        }

        &-name {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            overflow: hidden;
        }

        &-title {
            margin: 0;
            font-size: .8rem;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            width: 100%;
        }

        &-subtitle {
            margin: 0;
            font-size: .8rem;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }


        &-elapsed {
            margin: 0;
            padding-right: .5rem;
            margin-right: .5rem;
            border-right: 1px solid gray;
        }

        &-duration {
            margin: 0;
        }

        &-bpn {
            margin: 0;
            border: 1px solid gray;
            padding: 0 .2rem;
            min-width: 4rem;

            &-number {
                margin: 0;
                font-size: 1.3rem;
                text-align: center;
            }

            &-label {
                margin: 0 0 .2rem 0;
                height: .7rem;
                line-height: .7rem;
                font-size: .7rem;
                text-align: end;
            }
        }
    }
}