.home {
    &__container {
        display: flex;
        flex-direction: column;

        &--rotated {
            display: flex;
            flex-direction: column;
            transform: rotate(90deg);
            transform-origin: left top;
            width: 100vh;
            height: 100vw;
            position: absolute;
            top: 0;
            left: 0;
            overflow: hidden;
        }
    }

}

@media only screen and (max-width: 640px) {
    .home {
        &__container {
            &--rotated {
                transform: rotate(90deg);
                transform-origin: left top;
                width: 100vh;
                height: 100vw;
                position: absolute;
                top: 0;
                left: 0;
                overflow: hidden;
            }
        }
    }
}