.jogwheel {
    &__container {
        // height: 20rem;
        width: 25vw;
        height: 25vw;
    }

    &__svg {
        // height: 20rem;
        width: 25vw;
        height: 25vw;

        &--playing {
            height: 25vw;
            width: 25vw;
            // height: 20rem;
            animation: playwheel 4s linear infinite;
        }
    }
}