.jogwheel {
    &__container {
        // height: 20rem;
        width: 20vw;
        height: 20vw;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #232323;
        border-radius: 50%;
        border: 5px solid #373737;
        box-shadow: 0px 1px 10px #000000;
        transition: .2s;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        
        &:hover {
            filter: brightness(110%);
        }
    }

    &__wheel {
        width: 5vw;
        height: 5vw;
        transform: rotate(20deg);
        filter: invert(86%) sepia(0%) saturate(0%) hue-rotate(183deg) brightness(88%) contrast(103%);

        &--playing {
            width: 5vw;
            height: 5vw;
            transform: rotate(20deg);
            filter: invert(86%) sepia(0%) saturate(0%) hue-rotate(183deg) brightness(88%) contrast(103%);
            animation: playwheel 5s linear infinite;
        }

        &-wrapper {
            background-color: #000000;
            border-radius: 50%;
            padding: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border: 2px solid #333333;
        }

        &-ring {
            background-color: #2c2c2c;
            border-radius: 50%;
            padding: 5rem;
            border: 3px solid #363636;
            box-shadow: 5px 5px 40px #000000;

        }
    }
}