@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  color: lightgray;
  background-color: rgb(25, 25, 25);
  font-family: 'Open Sans', sans-serif;
}

::-webkit-scrollbar {
  background: #000000;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #515151;
  /* border-radius: 5px; */
}