@keyframes move-y-down {
    0% {
        transform: translateY(-50%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes move-y-up {
    0% {
        transform: translateY(50%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}


@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in-down {
    0% {
        opacity: 0;
        transform: translateY(-10%);
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes fade-in-right {
    0% {
        opacity: 0;
        transform: translateX(-7%);
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes fade-in-card {
    0% {
        opacity: 0;
        transform: translateY(7%);
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes fill {
    0% {
        box-shadow: 0 0 inset;
    }

    100% {
        box-shadow: 0 -48px inset;
    }
}

@keyframes carousel {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes playwheel {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes playbutton {
    0% {
        border: 5px solid #898989;
    }

    49% {
        border: 5px solid #898989;
    }

    50% {
        border: 5px solid #00e400;
    }

    100% {
        border: 5px solid #00e400;
    }
}

@keyframes loading-placeholder {
    to {
        background-position-x: -200%;
    }
}